body {
    background-color: rgba(0, 0, 0, 1);
    font-weight: 600;
    text-align: center !important;
    color: white;
    position: relative;
}

#background-image {
    z-index: -1;
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    opacity: 0.75;
    background-image: url("../resources/Images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* Navbar CSS*/
.navbar-custom {
    background-color: rgba(0, 0, 0, 0.5) !important;
    backdrop-filter: blur(10px);
}

.navbar-custom .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-item {
    font-size: 20px;
    backface-visibility: hidden;
    vertical-align: middle;
    position: relative;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transform: translateZ(0);
    transition-duration: .3s;
    transition-property: transform;
    margin-left: 3em;
    margin-right: 3em;
    text-transform: uppercase;
}

.nav-item:before {
    position: absolute;
    pointer-events: none;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    transition-duration: 0.3s;
    transition-property: transform, opacity;
}

.nav-item:hover, .nav-item:active, .nav-item:focus {
    transform: translateY(-5px);
}

.nav-item:hover:before, .nav-item:active:before, .nav-item:focus:before {
    opacity: 1;
    transform: translateY(-5px);
}

a {
    transition: .5s color ease-in-out;
}

.anc {
    opacity: 0.75;
    color: white;
}

.anc:hover {
    opacity: 1;
}

/*Sections CSS*/
.custom-head {
    font-weight: 500;
    opacity: 0.8;
}

.custom-head:hover {
    opacity: 1;
}

/* About CSS */

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

.animate__fadeIn {
    animation: fadeIn 1.5s ease-in-out forwards;
}

.animate__fadeOut {
    animation: fadeOut 1.5s ease-in-out forwards;
}

.name {
    position: relative;
    color: #ffffff;
    font-size: 6rem;
    font-weight: 600;
    margin-top: 50px;
    font-family: 'Sacramento', cursive;
    opacity: 0.8;
}

.name:hover {
    opacity: 1;
}

.nametag:hover {
    opacity: 1;
}

.nametag {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    opacity: 0.9;
}

.mypic {
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
    border-radius: 50%; /* Optional: make the image circular */
}

.alltext {
    color: #ffffff;
    opacity: 0.9;
    font-size: 1.2rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .name {
        font-size: 3rem;
    }

    .nametag {
        font-size: 1.5rem;
    }

    .mypic {
        height: 150px;
        width: 150px;
    }

    .alltext {
        font-size: 1rem;
    }
}

/* Skills CSS */
.card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: rgba(51, 51, 51, 0.6);
    border-bottom: 1px solid #444;
    text-align: center;
    font-weight: bold;
}

.progress {
    background-color: #444;
    height: 5px;
    border-radius: 5px;
    flex-grow: 1;
    margin: 10px 2% 10px;
}

.progress-bar {
    background-color: #FAF9F6;
    line-height: 10px;
    color: #FAF9F6;
    text-align: center;
    transition: width 1s ease-in-out;
    width: 0;
}

.d-flex {
    display: flex;
    align-items: center;
}

li > span {
    width: 25%;
    margin-top: 10px;
}

.top2 {
    margin-top: 30px;
}

.s33 {
    width: 33%;
    margin-top: 10px;
}

.single-span {
    width: 100% !important;
}

.justify-content-between {
    justify-content: space-between;
}

@media (max-width: 768px) {
    .card-header {
        font-size: 1.2rem;
    }
}


/*Experience CSS*/

.timeline-container {
    width: 74%;
    margin-left: 13%;
    margin-top: 2em;
}

.timeline {
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
    margin-bottom: 0;
}

.timeline .timeline-item {
    position: relative;
    opacity: 0; /* Initial state for animation */
    transform: translateY(50px); /* Initial state for animation */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.timeline .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
    background-color: hsl(0, 0%, 90%);
    left: -38px;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
}

.timeline-item.in-view {
    opacity: 1; /* Final state for animation */
    transform: translateY(0); /* Final state for animation */
}


/* Projects CSS */
#projects .container {
    max-width: 1200px; /* Adjust to match other sections */
    padding-left: 15px;
    padding-right: 15px;
}

#projects .card {
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    opacity: 0; /* Initially hidden */
    transform: translateY(100px); /* Initially moved down */
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#projects .card.in-view {
    opacity: 1; /* Fade in */
    transform: translateY(0); /* Slide in */
}

#projects .card:hover {
    transform: scale(1.05);
}


#projects .card .project-thumbnail {
    opacity: 0.7;
    height: 280px;
    object-fit: fill;
}

#projects .card:hover .project-thumbnail {
    opacity: 1;
}


#projects .card-body {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    transition: height 0.3s ease, padding 0.3s ease;
}

#projects .card-title, #projects .card-text {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s ease;
}

#projects .card:hover .card-title, #projects .card:hover .card-text {
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
}

#projects .card .card-description {
    display: none;
    margin-top: 10px;
    transition: opacity 0.3s ease;
}

#projects .card:hover .card-description {
    display: block;
    opacity: 1;
}

@media (max-width: 768px) {
    #projects .card {
        margin-bottom: 20px;
    }
}


/* Awards CSS */
.award-container {
    width: 100%;
    margin: 0 auto;
}

.left-a {
    text-align: left;
}

.description {
    font-size: 16px;
}

.award-item {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.award-item.in-view {
    opacity: 1;
    transform: translateX(0);
}

/* Contact CSS */
.form-container {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

.animate__fadeIn {
    animation: fadeIn 1.5s ease-in-out forwards;
}

.animate__fadeOut {
    animation: fadeOut 1.5s ease-in-out forwards;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .form-container {
        width: 100%;
    }

    .description {
        font-size: 1rem;
    }
}

/* Heading Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.9s ease;
}

.in-view {
    opacity: 1;
    transform: translateY(0);
}


